<% obj.each do |article| %>
  <div>
    <h4><%= link_to article.title, article_path(article) %></h4>
  </div>
  <div>
    <%= truncate(article.content, length: 100) %>
  </div>
  <div>
    <small>
      <p>
        Created as <%= article.created_at.strftime("%H:%M %Z") %> on <%= article.created_at.strftime("%d/%m/%Y") %>
      </p>
    </small>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
