<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hi, I'm Conor</h1>
    <p>I'm an aspiring game developer. I'm studying at X University, graduating in 2019.</p>
    <p>I recently published my first game to the Google Play store, Jump-2-Rhythm!</p>
    <p>
      <a class="btn btn-dark btn-lg" href="https://play.google.com/store/apps/details?id=com.ConorMG.PhoneGameV1" role="button">Check out my latest game!</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            <p class="text-dark">Nice to meet you!</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">I blog about my work as an aspiring game developer. You can read it <%= link_to 'here!', articles_path %></p>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Conor" style="width: 200px; height: 225px;" src="Conor_Profile.png" data-holder-rendered="true">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <% if Article.last %>
            <h3 class="mb-0">
              <%= link_to "#{@article.title}", @article, :class => "text-dark" %>
            </h3>
            <div class="mb-1 text-muted"><%= @article.created_at.strftime("%H:%M %Z") %> on <%= @article.created_at.strftime("%d/%m/%Y") %></div>
            <p class="card-text mb-auto"><%= truncate(@article.content, length: 200) %></p>
            <p><%= link_to 'Read more...', @article %></p>
          <% else %>
            <h3 class="mb-0">
              Latest blog posts
            </h3>
            <p class="card-text mb-auto">
              You can find an excerpt of my latest blog here - as soon as I post something!
            </p>
          <% end %>
        </div>
        <!-- <img class="card-img-right flex-auto d-none d-lg-block" id="unity_logo" data-src="holder.js/200x250?theme=thumb" alt="Unity Logo" style="width: 200px; height: 225px;" src="Unity_Logo.jpg" data-holder-rendered="true"> -->
      </div>
    </div>
  </div>
</div>