<div class="jumbotron jumbotron-small">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h1 class="display-3 text-light"><%= @portfolio_item.title %></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content portfolio_content"><%= @portfolio_item.content.html_safe %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <small>
        <p>
          Created at <%= @portfolio_item.created_at.strftime("%H:%M %Z") %> on <%= @portfolio_item.created_at.strftime("%d/%m/%Y") %>
        </p>
      </small>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item), :class => "text-dark" %> | 
      <% end %>
      <%= link_to 'Back', portfolio_path, :class => "text-dark" %>
    </div>
  </div>
</div>