<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <%= link_to 'Conor|MG', root_path, :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'New Article', new_article_path, :class => "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Blog', articles_path, :class => "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Follow Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://twitter.com/Silvertooth98"><%= image_tag 'Twitter_Social_Icon_Circle_Color.png', :class => 'social_logo' %><span class="social_text">&nbsp;&nbsp;Twitter</span></a>
          <a class="dropdown-item" href="https://facebook.com/conor.micallefgreen"><%= image_tag 'flogo_RGB_HEX-72.png', :class => 'social_logo' %><span class="social_text">&nbsp;&nbsp;Facebook</span></a>
          <a class="dropdown-item" href="https://www.youtube.com/channel/UCAXISYV1aGAAHC4C6ek4jFQ?view_as=subscriber"><%= image_tag 'youtube_social_icon_red.png', :class => 'social_logo' %><span class="social_text">&nbsp;YouTube</span></a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/Silvertooth98"><%= image_tag 'GitHub-Mark-Light-32px.png', :class => 'social_logo' %> GitHub</a>
      </li>
    </ul>
  </div>
</nav>